.header{
    width: 100%;
    height: 100%;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color:#ACB992;
}

.logo {
    margin-left: 2%;
    width: 10%;
    height: 80%;
    border-radius: 50%;
}


.searchContainer {
    display: flex;
    align-items: center;
    width: calc(100% 370px);
    margin-right: 5%;
    height: 50%;
    width: 30%;
    background-color: #ffffff;
}

.searchIcon {
    margin-left: .5%;
    color: #f57542;
    width: 10%;
    height: 50%;
}

.searchInput {
    border: none;
    outline: none;
    width: 100%;
    font-size: clamp(.5rem, 1.5vw, 5rem);
}

.issuesList{
    margin: 0px;
    padding: 0px;
    background-color:#E9E5D6;
}

@media screen and (min-width:480px) {
    .logo {
        margin-left: 2%;
        width: 5%;
        height: 80%;
        border-radius: 50%;
    }
    
}