.issuesItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0px 2%;
    margin-bottom: 1%;
    padding: .3%;
    line-height: 22px;
    font-size: clamp(1rem, 1vw, 5rem);
}

.itemContent{
    width: 80%;
}

.cmtContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8%;
}
